.git
.github
.devcontainer

__pycache__
*.py[cod]
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

.venv
venv
env

notebooks
evaluation
tests
docs
demo images

*.ipynb
*.log
*.tmp

.DS_Store
Thumbs.db